.header__image {
  background-image: url(../../images/header/header-image-xs.jpg);
  height: 546px;
  background-repeat: no-repeat;
  background-size: 320px;
  position: relative;
}

.logo__svg {
  margin-left: -122px;
}

.header__overlay {
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 2, 0.4);
}

.header__container {
  width: 246px;
  margin: 0 auto;
}

.header__title {
  padding-top: 20px;
  font-size: 25px;
  color: #ffffff;
  line-height: 35px;
  letter-spacing: -0.64px;
  margin-bottom: 12px;
  font-weight: 300;
}

.header__description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 30px;
}

.header__button {
  width: 190px;
  height: 45px;
  border: none;
  color: #ffffff;
  background-color: #ff3300;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.6px;
  animation-name: tada;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@media (min-width: 768px) {
  .header__image {
    background-image: url(../../images/header/header-image-md.jpg);
    height: 660px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
  }

  .header__container {
    width: 690px;
    margin: 0 auto;
  }

  .content__wrap {
    width: 420px;
  }

  .header__title {
    font-size: 40px;
    line-height: 50px;
  }

  .header__description {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width: 1280px) {
  .header__image {
    background-image: url(../../images/header/header-image-xl.jpg);
    height: 720px;
    background-attachment: fixed;
  }

  .header__container {
    width: 1100px;
  }

  .content__wrap {
    width: 570px;
  }

  .header__title {
    font-size: 45px;
    line-height: 55px;
  }

  .header__description {
    font-size: 20px;
    line-height: 30px;
  }
}
